# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
dist

# Editor directories and files
.DS_Store
.idea
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
