/* stylelint-disable selector-class-pattern */

.p-breadcrumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid var(--p-content-border-color);
}

.p-breadcrumb-item-link {
  gap: 0 !important;
}

/* stylelint-enable selector-class-pattern */
