@use '../variables/color' as *;

.heading {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;

  a {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.25em;
    opacity: 0.35;

    &:focus,
    &:hover {
      opacity: 0.65;
    }
  }
}
